.chat-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  overflow: hidden;

  .chat-header {
    position: relative;
    z-index: 1;
    height: 5rem;
    padding: 1rem;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.44);
    display: flex;
    .chat-member {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .chat-member-name {
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
  .chat-body {
    position: relative;
    z-index: 0;
    flex: 1;
    overflow-y: scroll;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;

    .no-message {
      margin: auto;
    }
  }
  .chat-footer {
    position: relative;
    z-index: 1;
    height: 4rem;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.44);
    .message-form {
      padding: 1rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .message-input {
        width: 90%;
        padding: 1rem 1.25rem;
        border: none;
        border-radius: 3rem;
        background-color: var(--light-grey);
      }
      .message-submit-button {
        border: none;
        border-radius: 3rem;
        background-color: var(--primary);
        color: var(--white);
        padding: 1rem 1.25rem;
        font-weight: 700;
        cursor: pointer;
      }
      .disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .chat-wrapper {
    border-radius: 1rem;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  }
  .back-button {
    display: none;
  }
}
