<main class="chat-layout">
  <aside
    [class.side-panel-open]="isSidePanelOpen()"
    class="side-panel"
    appSwipeDetector
    (swipeLeft)="backToCurrentChat()"
  >
    <header class="side-panel-header">
      <img
        class="logo"
        src="assets/images/logo.svg"
        alt="Logo typographique de Corpo-chat"
      />
      <div class="profile">
        <app-random-art
          [seed]="authService.currentUser()?.username"
          [size]="'50px'"
        ></app-random-art>
        <div class="current-user">
          <h1 tabindex="0" class="username">
            <span class="sr-only">Connecté en temps que </span
            >{{ authService.currentUser()?.username }}
          </h1>
          <p class="email">
            <span class="sr-only">adresse email :</span
            >{{ authService.currentUser()?.email }}
          </p>
          <p class="status-phrase">
            {{ authService.currentUser()?.status_phrase }}
          </p>
        </div>
      </div>
    </header>
    <form class="filter-form">
      <div class="search-bar">
        <label class="sr-only" for="search-input"
          >Rechercher parmi les contacts et groupes</label
        >
        <input
          class="search-input"
          type="text"
          id="search-input"
          placeholder="Rechercher..."
        />
        <img
          aria-hidden="true"
          class="search-icon"
          src="assets/icons/search-icon.svg"
          alt="search icon"
        />
      </div>
      <fieldset class="radio-filter-fieldset">
        <legend class="sr-only">Filtrer les contacts :</legend>
        <label tabindex="0" class="radio-label radio-all-label">
          <input type="radio" name="filter" value="all" checked />
          <span>Tous</span>
        </label>
        <label tabindex="0" class="radio-label">
          <input type="radio" name="filter" value="contacts" />
          <img
            class="radio-icon"
            aria-hidden="true"
            src="assets/icons/user-icon.svg"
            alt="icone générique d'un utilisateur"
          />
          <span>Contacts</span>
        </label>
        <label tabindex="0" class="radio-label">
          <input type="radio" name="filter" value="groups" />
          <img
            class="radio-icon"
            aria-hidden="true"
            src="assets/icons/group-icon.svg"
            alt="icone générique d'un groupe"
          />
          <span>Groupes</span>
        </label>
      </fieldset>
    </form>
    <nav class="contact-list-container">
      <ul aria-live="polite">
        @for (privateConversation of chatService.privateConversations(); track
        $index) { @let other = privateConversation.users[0].id===
        authService.currentUser()?.id ? privateConversation.users[1] :
        privateConversation.users[0];
        <li
          class="contact-line-wrapper"
          [class.current-conversation]="
            privateConversation.conversation_id ===
            chatService.currentConv()?.conversation_id
          "
        >
          <app-contact-line
            [name]="other.username"
            [handleOnClick]="navigateToChat.bind(this, privateConversation)"
          ></app-contact-line>
        </li>
        } @for (user of chatService.uncontactedUsers(); track $index){
        <li class="contact-line-wrapper red">
          <app-contact-line
            [name]="user.username"
            [handleOnClick]="createPrivateConversation.bind(this, user)"
          ></app-contact-line>
        </li>
        }
      </ul>
    </nav>
    <footer class="side-panel-footer">
      <app-logout-button></app-logout-button>
      <a class="settings-link" routerLink="/settings" aria-label="Paramètres"
        ><img
          aria-hidden="true"
          src="assets/icons/settings-icon.svg"
          alt="icone de paramètres"
      /></a>
    </footer>
  </aside>
  <app-chat class="chat" [isSidePanelOpen]="isSidePanelOpen"></app-chat>
</main>
