<div class="login-screen-wrapper">
  <aside class="login-aside">
    <img
      src="assets/images/login-image.svg"
      alt="Trois personnes autour d'un téléphone géant"
    />
  </aside>
  <main class="login-main">
    <section class="login-form-wrapper">
      <img
        class="logo"
        src="assets/images/logo.svg"
        alt="Logo typographique de Corpo-chat"
      />
      <h1>Bienvenue</h1>
      <form class="login-form" (ngSubmit)="onSubmit()">
        <fieldset class="login-form-fieldset">
          <div>
            <label class="login-form-label" for="email">Email : </label>
            <input
              class="login-form-text-input"
              id="email"
              name="email"
              type="email"
              placeholder="mon-email@ex.com"
              [(ngModel)]="credentials().email"
              required
            />
          </div>
          <div>
            <label class="login-form-label" for="password"
              >Mot de passe :
            </label>
            <input
              class="login-form-text-input"
              id="password"
              name="password"
              type="password"
              placeholder="••••••••••"
              [(ngModel)]="credentials().password"
              required
            />
          </div>
          <a class="forgot-password">Mot de passe oublié ?</a>
        </fieldset>

        <button class="login-form-submit-button" type="submit">
          Se connecter
        </button>
        <p>Don't have an account ? <a routerLink="/register">Register</a></p>
      </form>
    </section>
  </main>
</div>
